@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

html, body {
  padding: 0;
  height: 100%;
  margin: 0; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff; }
  body.container {
    width: 90%;
    margin: 0 auto; }

ul.list-inline li {
  display: inline-block;
  margin: 0 5px; }

header {
  padding: 1em;
  background-color: #eee; }

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

.hidden {
  display: none !important; }

.page-title {
  margin: 0;
  text-transform: capitalize; }

.glyphicon {
  color: #4078C0; }

.section-title {
  color: #4078C0;
  font-size: 1.4em; }

blockquote {
  border-color: #4078C0;
  background-color: #fafafa; }

.caution * {
  color: #9F0000; }

.row {
  margin: 0; }

.col {
  padding: 0; }

.list-inline {
  margin: 0;
  padding: 0; }

.container {
  padding: 1em;
  border: 1px solid #ddd;
  border-width: 0 1px;
  height: 100%; }

.multi-select-dropdown {
  margin: 1em 1em 0; }
  .multi-select-dropdown .msd {
    position: relative; }
    .multi-select-dropdown .msd .msd-list {
      position: absolute;
      top: 40px;
      width: 100%;
      height: auto;
      background-color: #fff;
      border: 1px solid #ddd;
      z-index: 2; }
      .multi-select-dropdown .msd .msd-list .msd-options .msd-action ul {
        margin: 0; }
        .multi-select-dropdown .msd .msd-list .msd-options .msd-action ul li {
          padding: 0; }
          .multi-select-dropdown .msd .msd-list .msd-options .msd-action ul li a {
            display: block;
            padding: 1em;
            color: #337ab7;
            text-decoration: underline; }
      .multi-select-dropdown .msd .msd-list .msd-options .msdl-filter-wrap {
        width: 90%;
        margin: 5px auto; }
      .multi-select-dropdown .msd .msd-list ul {
        list-style-type: none;
        max-height: 150px;
        overflow-y: auto;
        margin: 0 0 1em;
        padding: 0; }
        .multi-select-dropdown .msd .msd-list ul li {
          cursor: pointer;
          padding: 0.5em 1em 0; }
          .multi-select-dropdown .msd .msd-list ul li:last-child {
            padding-bottom: 1em; }
  .multi-select-dropdown .msd-selections {
    width: 100%;
    margin: 1em 0; }
    .multi-select-dropdown .msd-selections .msds-section {
      margin: 1em 0; }
      .multi-select-dropdown .msd-selections .msds-section .rule-header {
        background-color: #eee;
        margin: 0 0 1em; }
        .multi-select-dropdown .msd-selections .msds-section .rule-header .list-inline li {
          width: 49.8%;
          padding: 0.5em 1em;
          margin: 0; }
          .multi-select-dropdown .msd-selections .msds-section .rule-header .list-inline li .delete-row {
            cursor: pointer;
            display: inline-block; }
      .multi-select-dropdown .msd-selections .msds-section .row .pull-left {
        width: 24%;
        float: left; }
        .multi-select-dropdown .msd-selections .msds-section .row .pull-left:nth-child(2n) {
          padding: 0 1%; }
        .multi-select-dropdown .msd-selections .msds-section .row .pull-left:last-child {
          width: 3%;
          text-align: center; }

/*# sourceMappingURL=app.css.map */
